.products_block__container {
	display: grid;
	gap: 24px;
}

.products_block__head {
	text-align: center;
}

@media (max-width: 800px) {
	.products_block {
		margin-bottom: 40px;
	}
}

@media (min-width: 800px) {
	.products_block {
		margin-bottom: 100px;
	}
}
